.DS_Store
dockerbuild
target
touchfish-macos-client/TouchFish.xcodeproj/project.xcworkspace/xcuserdata
touchfish-macos-client/TouchFish.xcodeproj/xcuserdata/yzjsswk.xcuserdatad
touchfish-sqlite-storage/.env
touchfish-python-sdk/src/touchfish/__pycache__
touchfish-python-sdk/src/touchfish.egg-info
touchfish-python-sdk/build
touchfish-python-sdk/dist